In [52]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

import gmaps
import gmaps.datasets

gmaps.configure(api_key='AIzaSyDpJzyz14Iohr2vZDynBh_h-qn6OvrxDbM')

In [53]:
# Import API key
from api_key import g_key

In [54]:
weather_data = pd.read_csv("../WeatherPy/weather_df.csv")
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,wamba,90,US,1613079094,69,19.7297,-155.0900,75.20,6.35
1,wamba,19,AU,1613078995,68,-42.7826,147.0587,63.00,1.99
2,wamba,94,PF,1613078883,71,-23.1203,-134.9692,78.93,9.10
3,wamba,20,CL,1613078867,44,-53.1500,-70.9167,59.00,26.46
4,wamba,1,ZA,1613079128,85,-33.0153,27.9116,75.29,15.21
...,...,...,...,...,...,...,...,...,...
561,wamba,8,RU,1613079175,86,60.0500,69.9000,-25.44,3.53
562,wamba,53,CN,1613079175,99,32.4420,105.8230,42.01,1.16
563,wamba,0,GA,1613079176,91,-0.0921,11.9385,74.95,2.93
564,wamba,17,MM,1613079176,59,17.3000,97.0167,67.28,3.69
565,wamba,0,NG,1613079176,18,8.9333,8.6000,76.64,4.41

In [57]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

maxhumidity = humidity.max()

In [58]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

Create new data Frame fitting weather criteria
* Narrow down the cities to fit weather conditions.

In [62]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
59,wamba,0,BF,1613079133,15,12.0708,1.7889,78.87,7.34
100,wamba,0,NE,1613079136,16,13.6393,4.0287,76.28,8.37
153,wamba,0,AU,1613079140,82,-32.7167,152.1500,70.00,4.61
264,wamba,0,NC,1613079150,72,-20.2333,164.0167,79.05,8.90
267,wamba,0,NG,1613079150,21,12.8791,10.4526,70.66,7.92
268,wamba,0,PK,1613079150,52,25.2088,64.6357,71.62,5.86
285,wamba,0,ML,1613079151,15,20.0000,-3.0000,71.56,9.42
485,wamba,0,ML,1613079056,16,20.1986,1.0114,71.85,9.48
500,wamba,0,IR,1613079169,46,25.2919,60.6430,70.34,5.64
544,wamba,0,PE,1613079045,73,-13.7000,-76.2167,77.00,9.22
559,wamba,0,LK,1613079174,78,7.0897,79.9925,71.60,6.91
563,wamba,0,GA,1613079176,91,-0.0921,11.9385,74.95,2.93
565,wamba,0,NG,1613079176,18,8.9333,8.6000,76.64,4.41

Hotel Map

In [63]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

      City Country      Lat       Lng Hotel Name
59   wamba      BF  12.0708    1.7889
100  wamba      NE  13.6393    4.0287
153  wamba      AU -32.7167  152.1500
264  wamba      NC -20.2333  164.0167
267  wamba      NG  12.8791   10.4526
268  wamba      PK  25.2088   64.6357
285  wamba      ML  20.0000   -3.0000
485  wamba      ML  20.1986    1.0114
500  wamba      IR  25.2919   60.6430
544  wamba      PE -13.7000  -76.2167
559  wamba      LK   7.0897   79.9925
563  wamba      GA  -0.0921   11.9385
565  wamba      NG   8.9333    8.6000

In [64]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [65]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 59: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 100: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 153: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 264: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 267: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 268: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 285: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 485: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 500: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 544: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 559: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 563: wamba.
Missing field/result... skipping.
------------
Retrieving Results for Index 565: wamba.
Missing field/result... skipping.
------------
-------End of Search-------

In [66]:
# Display the hotel dataframe
hotel_df

      City Country      Lat       Lng Hotel Name
59   wamba      BF  12.0708    1.7889
100  wamba      NE  13.6393    4.0287
153  wamba      AU -32.7167  152.1500
264  wamba      NC -20.2333  164.0167
267  wamba      NG  12.8791   10.4526
268  wamba      PK  25.2088   64.6357
285  wamba      ML  20.0000   -3.0000
485  wamba      ML  20.1986    1.0114
500  wamba      IR  25.2919   60.6430
544  wamba      PE -13.7000  -76.2167
559  wamba      LK   7.0897   79.9925
563  wamba      GA  -0.0921   11.9385
565  wamba      NG   8.9333    8.6000

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [68]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))